@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #030114;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    circle farthest-corner at -24.7% -47.3%,
    rgb(2, 45, 56) 0%,
    rgb(8, 17, 41) 66.8%,
    rgb(2, 8, 22) 100.2%
  );
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@theme {
  --font-francois: "Francois One", sans-serif;
}
